PORT=8000
MONGODB_URI=mongodb+srv://sahasudipta200305:<yourPassword>@cluster0.iy4s2ps.mongodb.net
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=access-token-secret
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=refresh-token-secret
REFRESH_TOKEN_EXPIRY=10d